mkdir -p temp

# # workaround to be able to build flakes, based on https://github.com/NixOS/nixpkgs/issues/84803
# TMPDIR=/tmp

# # building nix flakes
nix build -f channel:nixos-20.03 nixFlakes --out-link temp/nix

# # overriding existing nix command
export PATH="$PWD/temp/nix/bin:$PATH"
# eval "$(lorri direnv)"

# nix build -f shell.nix bootstrap --out-link temp/bootstrap
# ./temp/bootstrap

# # todo --experimental-features 'nix-command flakes'

use_flake() {
  watch_file flake.nix
  watch_file flake.lock
  eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
}

use flake

PATH_add script