node_modules
*/node_modules/*
result*
.helm
dist
yarn-error.*
# nixops state - super crucial
*.nixops
*.nixops-shm
*.nixops-wal
cdk.out/*
resources/brigade-aws-secret.yaml
.temp
temp.*
temp/
/.gtm/
cdk.out
functions/express-app/k8s-resource.yaml
*.generated.tf.json
*.generated.*
.terraform
.kube/*
**/.kube
*vars.json