result*
.helm
# nixops state - super crucial
*.nixops
*.nixops-shm
*.nixops-wal
cdk.out/*
resources/brigade-aws-secret.yaml
/.gtm/
cdk.out
functions/express-app/k8s-resource.yaml
*vars.json

# terraform
*.tfplan
.terraform
*/.terraform
.kube/*
**/.kube
*.generated.tf.json
*.generated.*

# node
node_modules
*/node_modules/*
dist
yarn-error.*

# temp
.temp
temp.*
temp/