lorri=$(nix-build ../../nix/default.nix -A pkgs.lorri)
export PATH="$PATH:$lorri/bin"

eval "$(lorri direnv)"
unset SSL_CERT_FILE

echo "Running worker"
set +e
source ../run-linux-worker.sh >> /dev/null 2>&1
set -e