lorri=$(nix-build ../../nix/default.nix -A pkgs.lorri)
export PATH="$PATH:$lorri/bin"

eval "$(lorri direnv)"

# https://github.com/target/lorri/issues/98#issuecomment-518351922
unset SSL_CERT_FILE
unset NIX_SSL_CERT_FILE

echo "Running worker"
set +e
source ../run-linux-worker.sh >> /dev/null 2>&1
set -e